<div class="container-md">
    <div class="row justify-content-center pt-4">
        <div class="col-md-4">
            <mat-card class="shadow">
                <p class="mat-headline" style="text-align: center;font-family: cursive;font-weight: bold;text-decoration: underline;">Registration Form</p>
                <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="d-flex flex-column p-4">
                    <p class="mat-subtitle" style="font-weight: bold;">Personal</p>
                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input type="text" matInput formControlName="username" required>
                        <mat-icon matSuffix>account_circle</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input type="text" matInput formControlName="first_name" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input type="text" matInput formControlName="last_name" required>
                    </mat-form-field>

                    <div formGroupName="address" class="d-flex flex-column">
                        <p class="mat-subtitle" style="font-weight: bold;">Address</p>
                        <mat-form-field appearance="outline">
                            <mat-label>Street</mat-label>
                            <input type="text" matInput formControlName="street" required>
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline">
                            <mat-label>City</mat-label>
                            <input type="text" matInput formControlName="city" required>
                        </mat-form-field>

                        
                        <mat-form-field appearance="outline">
                            <mat-label>State</mat-label>
                            <input type="text" matInput formControlName="state" required>
                        </mat-form-field>

                        
                        <mat-form-field appearance="outline">
                            <mat-label>Country</mat-label>
                            <input type="text" matInput formControlName="country" required>
                        </mat-form-field>    
                    </div>

                    <button mat-raised-button type="submit" color="primary" [disabled]="!updateForm.valid">Register</button>
                </form>
                <div class="bg-success p-2" *ngIf="success">
                    <p style="text-align: center;" class="text-white">Data Updated!</p>
                </div>
            </mat-card>
        </div>
    </div>
</div>