<div class="container-md">
    <div class="row">
        <div class="col-md-6">
            <mat-card>
                <mat-card-title style="text-decoration: underline;">Std College , Indore</mat-card-title>
                <mat-card-content>
                    <br>
                    <b>Located in:</b> <p>Madhya Pradesh Pashim Kshetra Vidyut Vitran Co. Ltd.</p>
                    <b>Address:</b> <p>MPEB Campus Pologround, Malti Vanaspati, Indore, Madhya Pradesh 452015</p>
                    <p>Open-10AM ⋅ Closes 6PM</p>
                    <b>Phone:</b> 0731 242 6361
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>