<mat-toolbar color="primary" class="fixed-top">
   <mat-toolbar-row class="d-flex justify-content-around">
    <img src="assets/img/images.jpg">
    <span id="clg">Std College</span>
    <span class="border p-2 mat-subtitle">Best Way For Learning...</span>
   </mat-toolbar-row>   

   <mat-toolbar-row class="bg-dark d-flex justify-content-around responsive">
        <button mat-icon-button routerLink="/"><mat-icon>home</mat-icon> Home</button>
        <button mat-icon-button routerLink="/contact"><mat-icon>info</mat-icon> AboutUs</button>
        <button mat-icon-button routerLink="/courses"><mat-icon>school</mat-icon>Courses</button>
        <button mat-icon-button routerLink="/contact"><mat-icon>contact_support</mat-icon>ContactUs</button>
        <button mat-flat-button routerLink="/auth/signup">Signup</button>
        <button mat-icon-button routerLink="/auth/login" class="login shadow">Login</button>
   </mat-toolbar-row>
</mat-toolbar>