<mat-toolbar color="primary" class="fixed-top">
   <mat-toolbar-row class="d-flex justify-content-around shadow">
    <img src="assets/img/images.jpg" class="img-fluid">
    <span id="clg">Std College</span>
    <span class="border p-2 mat-subtitle">Best Way For Learning...</span>
   </mat-toolbar-row>   

   <mat-toolbar-row id="responsive" class="bg-dark d-flex justify-content-around shadow">
         <ng-content></ng-content>
        <button mat-icon-button routerLink="/"><mat-icon>home</mat-icon> Home</button>
        <button mat-icon-button [matMenuTriggerFor]="appMenu"><mat-icon>category</mat-icon> Departments</button>
            <mat-menu #appMenu="matMenu" class="bg-dark">
               <button mat-menu-item [matMenuTriggerFor]="subMenu">Engineering</button>
                  <mat-menu #subMenu="matMenu" class="bg-dark">
                     <button mat-menu-item routerLink="/departments/1">CSE</button>
                     <button mat-menu-item routerLink="/departments/2">Ec</button>
                     <button mat-menu-item routerLink="/departments/3">Civil</button>
                     <button mat-menu-item routerLink="/departments/4">Mechanical</button>
                  </mat-menu>
               <button mat-menu-item>B.sc</button>
            </mat-menu>
        <button mat-icon-button routerLink="/contact"><mat-icon>info</mat-icon> AboutUs</button>
        <button mat-icon-button routerLink="/courses"><mat-icon>school</mat-icon>Courses</button>
        <button mat-icon-button routerLink="/contact"><mat-icon>contact_support</mat-icon>ContactUs</button>
        <button mat-flat-button routerLink="/auth/signup" class="text-dark">Signup</button>
        <button mat-icon-button routerLink="/auth/login" class="login shadow">Login</button>
   </mat-toolbar-row>
</mat-toolbar>