<div class="container-md">
    <div class="row justify-content-center pt-4">
        <div class="col-md-4">
            <mat-card class="shadow">
                <p class="mat-headline" style="text-align: center;font-family: cursive;font-weight: bold;text-decoration: underline;">Student Login</p>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="d-flex flex-column p-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input type="text" matInput formControlName="username" required>
                        <mat-icon matSuffix>account_circle</mat-icon>
                    </mat-form-field>
                    <ng-container *ngIf="username.invalid && (username.dirty || username.touched)">
                        <div *ngIf="username.errors.required">
                            <p class="text-danger">Username is required!</p>
                        </div>
                    </ng-container>

                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <ng-container *ngIf="password.invalid && (password.dirty || password.touched)">
                        <div *ngIf="password.errors.required">
                            <p class="text-danger">Password is required!</p>
                        </div>
                    </ng-container>

                    <button mat-raised-button type="submit" color="primary" [disabled]="!loginForm.valid">Login</button>
                </form>
                <div style="text-align: center;">
                    <a href="">Forgot password?</a>
                </div>
            </mat-card>
        </div>
    </div>
</div>