<div class="container-md">
    <div class="row">
        <mat-accordion>
        <div class="col-md-12 pt-2" *ngFor="let c of courses">
            <mat-expansion-panel class="shadow">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <p class="mat-subtitle" style="font-weight: bold;">{{c.title}}</p>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>{{c.description}}</p>
                <mat-action-row>
                    <button mat-raised-button color="primary">Enroll Now</button>
                </mat-action-row>
            </mat-expansion-panel>    
        </div>
    </mat-accordion>
    </div>
</div>