mat-card{
    background: linear-gradient(60deg,red,blue);
    color: white;
}

.fa{
    font-size: 2rem;
    border:5px solid;
    animation-name: icon;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

@keyframes icon {
    0%{
        border-top-color: black;
    }25%{
        border-right-color: black;
    }50%{
        border-bottom-color: black;
    }100%{
        border-left-color: black;
    }
}