<mat-toolbar color="primary">
    <mat-toolbar-row class="bg-dark" style="height: auto;">
        <div class="container-md">
            <div class="row">
                <div class="col-md-6">
                    <mat-card class="m-2 shadow">
                        <mat-card-title>B.Tech Courses</mat-card-title>
                        <mat-card-content>
                            <ul>
                                <li>B.Tech in Computer Science Engineering</li>
                                <li>B.Tech in Mechanical Engineering</li>
                                <li>B.Tech in Chemical Engineering</li>
                                <li>B.Tech in Civil Engineering</li>
                                <li>B.Tech in TextTile Engineering</li>
                                <li>B.Tech in Automobile Engineering</li>
                            </ul>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-md-6">
                    <mat-card class="m-2 shadow">
                        <mat-card-title>B.Sc Courses</mat-card-title>
                        <mat-card-content>
                            <ul>
                                <li>B.sc in Agriculture</li>
                                <li>B.Sc in Electronics</li>
                                <li>B.Sc in Geology</li>
                                <li>B.sc in Zoology</li>
                                <li>B.sc in Maths</li>
                                <li>B.sc in Biology</li>
                            </ul>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="d-flex flex-row justify-content-around">
        <i class="fa fa-envelope-square bg-success"></i>
        <i class="fa fa-phone-square bg-success"></i>
    </mat-toolbar-row>
</mat-toolbar>