#frm{
    animation-name: form;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

@keyframes form{
    0%{
        border-top-left-radius: 20%;
        border-bottom-right-radius: 20%;
    }100%{
        border-top-right-radius: 20%;
        border-bottom-left-radius: 20%;
    }
}

.ani{
    animation-name: animate;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    border: 1px solid blue;
}

@keyframes animate{
    0%{
        border-top-color: red;
    }25%{
        border-right-color: red;
    }50%{
        border-bottom-color: red;
    }100%{
        border-left-color: red;
    }
}