<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/photo-1604098027975-91a63cb3a6ea.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/photo-1613685353742-5f7cad79f22f.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <h1 style="opacity: .8;">Our Institutions</h1><hr>

  <div class="container-md">
    <div class="row">
      <div class="col-md-3">
        <mat-card class="shadow">
          <img mat-card-image src="assets/img/Alliman-Administration-Center-Hesston-College-Mennonite-college.jpg" alt="Alliman-Administration-Center-Hesston-College-Mennonite-college.jpg">
          <mat-card-subtitle style="text-align: center;"> 
            <p>Self Financing</p>
          </mat-card-subtitle>
        </mat-card>
      </div>
      <div class="col-md-3">
        <mat-card class="shadow">
          <img mat-card-image src="assets/img/images (1).jpg" alt="images (1).jpg">
          <mat-card-subtitle style="text-align: center;"> 
            <p>Government</p>
          </mat-card-subtitle>
        </mat-card>
      </div>
      <div class="col-md-3">
        <mat-card class="shadow">
          <img mat-card-image src="assets/img/images (2).jpg" alt="images (2).jpg">
          <mat-card-subtitle style="text-align: center;"> 
            <p>Private</p>
          </mat-card-subtitle>
        </mat-card>
      </div>
      <div class="col-md-3">
        <mat-card class="shadow">
          <img mat-card-image src="assets/img/images (3).jpg" alt="images (3).jpg">
          <mat-card-subtitle style="text-align: center;"> 
            <p>Polytechnic</p>
          </mat-card-subtitle>
        </mat-card>
      </div>
    </div>
  </div>